<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MNTapCounter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C3C34B11D8FAA5B00F47840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C3C34CA1D8FAA5B00F47840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C3C34D51D8FAA5B00F47840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
